[Desktop Entry]
Name=NagaMaper
GenericName=Naga key maper
Comment=Custom key bindings for the side panel
Exec=sudo bash /usr/local/bin/nagastart.sh
Terminal=false
Type=Application
Icon=
Categories=Drivers;
StartupNotify=false
