[Desktop Entry]
Name=NagaMaper
GenericName=Naga key maper
Comment=Custom key bindings for the side panel
Exec=nohup nagastart.sh > /dev/null 2>&1 &
Terminal=false
Type=Application
Icon=
Categories=Drivers;
StartupNotify=false
Name=nagastart.desktop
