[Desktop Entry]
Name=NagaMaper
GenericName=Naga key maper
Comment=Custom key bindings for the side panel
Exec=naga -start
Terminal=false
Type=Application
Icon=
Categories=Drivers;
StartupNotify=false
Name=nagastart.desktop
